.container {
  width: 100vw;
  padding: 3rem 0px 1rem 0px;
  height: 100vh;
  background-image: url("../../assets/RightGraphic.png");
  background-position-x: right;
  background-repeat: no-repeat;
  position: relative;
}
.container::before {
  position: absolute;
  content: url("../../assets/Group1.svg");
  right: 7.5rem;
  bottom: 3rem;
}
