:root {
  --frist-color: #1b18f9;
  --second-color: #e146ad;
  --text-color: #150f21;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;

  color: var(--text-color);
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}
button,
input {
  border: none;
  outline: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

//
*,
*::after,
*::before {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}

ul {
  list-style: none;
}
